Repository Admidio/admidio, pull requests merged in 2018-05, with the labels that each got.

#751 Feature cookie approval
  adm_program/installation/db_scripts/preferences.php
  adm_program/languages/de.xml
  adm_program/libs/cookieconsent/admidio_update.txt
  adm_program/libs/cookieconsent/cookieconsent.min.css
  adm_program/libs/cookieconsent/cookieconsent.min.js
  adm_program/modules/preferences/preferences.php
  adm_program/modules/preferences/preferences_function.php
  adm_program/system/classes/HtmlPage.php
  adm_program/system/classes/Language.php
Labels: enhancement, system

#764 - fix for issue #325
  adm_plugins/calendar/calendar.php
  adm_plugins/calendar/config.php
Labels: bug, plugin

#782 Feature preferences
  adm_program/installation/db_scripts/preferences.php
  adm_program/languages/de.xml
  adm_program/modules/preferences/preferences.php
  adm_program/modules/preferences/preferences_function.php
  adm_program/system/classes/HtmlPage.php
  adm_themes/modern/icons/shield.png
  adm_themes/modern/my_body_bottom.php
Labels: enhancement, module:preferences
