Repository Admidio/admidio, pull requests merged in 2021-08, with the labels that each got.

#1079 Feature show field description
  adm_program/installation/db_scripts/db.sql
  adm_program/installation/db_scripts/update_4_1.xml
  adm_program/installation/install_steps/start_installation.php
  adm_program/languages/de.xml
  adm_program/languages/en.xml
  adm_program/modules/profile-fields/profile_fields_new.php
  adm_program/modules/profile/profile_new.php
  adm_program/modules/profile/profile_save.php
Labels: enhancement, module:profile

#1078 Fix password hashing (check for hashing need used other options than password hashing itself)
  adm_program/system/classes/PasswordUtils.php
Labels: bug, system

#1081 Fix Captchas by re-applying admidio-specific changes to the securimage library
  adm_program/libs/server/dapphp/securimage/admidio_update.txt
  adm_program/libs/server/dapphp/securimage/audio/.htaccess
  adm_program/libs/server/dapphp/securimage/audio/en/0.wav
  adm_program/libs/server/dapphp/securimage/audio/en/1.wav
  adm_program/libs/server/dapphp/securimage/audio/en/10.wav
  adm_program/libs/server/dapphp/securimage/audio/en/11.wav
  adm_program/libs/server/dapphp/securimage/audio/en/12.wav
  adm_program/libs/server/dapphp/securimage/audio/en/13.wav
  adm_program/libs/server/dapphp/securimage/audio/en/14.wav
  adm_program/libs/server/dapphp/securimage/audio/en/15.wav
  adm_program/libs/server/dapphp/securimage/audio/en/16.wav
  adm_program/libs/server/dapphp/securimage/audio/en/17.wav
  adm_program/libs/server/dapphp/securimage/audio/en/18.wav
  adm_program/libs/server/dapphp/securimage/audio/en/19.wav
  adm_program/libs/server/dapphp/securimage/audio/en/2.wav
  adm_program/libs/server/dapphp/securimage/audio/en/20.wav
  adm_program/libs/server/dapphp/securimage/audio/en/3.wav
  adm_program/libs/server/dapphp/securimage/audio/en/4.wav
  adm_program/libs/server/dapphp/securimage/audio/en/5.wav
  adm_program/libs/server/dapphp/securimage/audio/en/6.wav
  adm_program/libs/server/dapphp/securimage/audio/en/7.wav
  adm_program/libs/server/dapphp/securimage/audio/en/8.wav
  adm_program/libs/server/dapphp/securimage/audio/en/9.wav
  adm_program/libs/server/dapphp/securimage/audio/en/A.wav
  adm_program/libs/server/dapphp/securimage/audio/en/B.wav
  adm_program/libs/server/dapphp/securimage/audio/en/C.wav
  adm_program/libs/server/dapphp/securimage/audio/en/D.wav
  adm_program/libs/server/dapphp/securimage/audio/en/E.wav
  adm_program/libs/server/dapphp/securimage/audio/en/F.wav
  adm_program/libs/server/dapphp/securimage/audio/en/G.wav
  adm_program/libs/server/dapphp/securimage/audio/en/H.wav
  adm_program/libs/server/dapphp/securimage/audio/en/I.wav
  adm_program/libs/server/dapphp/securimage/audio/en/J.wav
  adm_program/libs/server/dapphp/securimage/audio/en/K.wav
  adm_program/libs/server/dapphp/securimage/audio/en/L.wav
  adm_program/libs/server/dapphp/securimage/audio/en/M.wav
  adm_program/libs/server/dapphp/securimage/audio/en/MINUS.wav
  adm_program/libs/server/dapphp/securimage/audio/en/N.wav
  adm_program/libs/server/dapphp/securimage/audio/en/O.wav
  adm_program/libs/server/dapphp/securimage/audio/en/P.wav
  adm_program/libs/server/dapphp/securimage/audio/en/PLUS.wav
  adm_program/libs/server/dapphp/securimage/audio/en/Q.wav
  adm_program/libs/server/dapphp/securimage/audio/en/R.wav
  adm_program/libs/server/dapphp/securimage/audio/en/S.wav
  adm_program/libs/server/dapphp/securimage/audio/en/T.wav
  adm_program/libs/server/dapphp/securimage/audio/en/TIMES.wav
  adm_program/libs/server/dapphp/securimage/audio/en/U.wav
  adm_program/libs/server/dapphp/securimage/audio/en/V.wav
  adm_program/libs/server/dapphp/securimage/audio/en/W.wav
  adm_program/libs/server/dapphp/securimage/audio/en/X.wav
  adm_program/libs/server/dapphp/securimage/audio/en/Y.wav
  adm_program/libs/server/dapphp/securimage/audio/en/Z.wav
  adm_program/libs/server/dapphp/securimage/audio/en/error.wav
  adm_program/libs/server/dapphp/securimage/audio/noise/check-point-1.wav
  adm_program/libs/server/dapphp/securimage/audio/noise/crowd-talking-1.wav
  adm_program/libs/server/dapphp/securimage/audio/noise/crowd-talking-6.wav
  adm_program/libs/server/dapphp/securimage/audio/noise/crowd-talking-7.wav
  adm_program/libs/server/dapphp/securimage/audio/noise/kids-playing-1.wav
  adm_program/libs/server/dapphp/securimage/config.inc.php
  adm_program/libs/server/dapphp/securimage/securimage_show.php
Labels: bug, system

#1082 In all lists, make the running number a link to the user in html mode
  adm_program/modules/groups-roles/lists_show.php
Labels: module:lists, change

#1083 Profile fields with Text(100) should also allow values up to 100 characters
  adm_program/modules/profile/profile_new.php
Labels: bug, module:profile

#1084 Also display the username field when creating a new user in the backend (e.g. by the admin)
  adm_program/modules/profile/profile_new.php
Labels: module:profile, change

#1092 Fix #1091: Handle Views in the DB backup separately (and back up the definition)
  adm_program/modules/backup/backup_script.php
Labels: enhancement, module:backup

#1093 DB backup: For database views, we need to create intermediate tables
  adm_program/modules/backup/backup_script.php
Labels: enhancement, module:backup

#1089 Fix profile field internal names (remove special chars, properly enclose all SQL field names with ticks in ListConfiguration::getSQL); escape input field values
  adm_program/system/classes/HtmlElement.php
  adm_program/system/classes/TableUserField.php
Labels: bug, module:lists
