Repository Admidio/admidio, pull requests merged in 2021-01, with the labels that each got.

#969 Replace mb_ereg_replace with preg_replace for php7.4 compatibility
  adm_program/system/classes/FileSystemUtils.php
Labels: change, system

#977 Add Dockerfile with ubi8/php-74 base image to support dockerhub image auto build (#7)
  Dockerfile
Labels: enhancement, system

#985 Send Testmail #843
  adm_program/languages/de.xml
  adm_program/languages/en.xml
  adm_program/modules/messages/messages_send.php
  adm_program/modules/preferences/preferences.php
  adm_program/modules/preferences/preferences_function.php
  adm_program/system/classes/Email.php
Labels: enhancement, module:messages

#984 Change code language blm
  adm_program/installation/db_scripts/preferences.php
  adm_program/installation/db_scripts/update_4_1.xml
  adm_program/installation/install_steps/start_installation.php
  adm_program/languages/de.xml
  adm_program/languages/en.xml
  adm_program/modules/groups-roles/members_assignment_data.php
  adm_program/modules/groups-roles/mylist.php
  adm_program/modules/members/members_data.php
  adm_program/modules/profile/profile.php
  adm_program/modules/profile/profile_new.php
  adm_program/system/classes/Component.php
  adm_program/system/classes/ComponentUpdateSteps.php
  adm_program/system/classes/ModuleAnnouncements.php
  adm_program/system/classes/ModuleDates.php
  adm_program/system/classes/User.php
  demo_data/data.sql
  demo_data/languages/de.xml
  demo_data/languages/en.xml
Labels: change, system

#998 Dockerfile improvements
  .gitattributes
  Dockerfile
  README-Docker.md
  README.md
  dockerscripts/healthcheck.sh
  dockerscripts/startup.sh
  hooks/build
Labels: change, system
