Repository Admidio/admidio, pull requests merged in 2022-03, with the labels that each got.

#1240 Identify members at import by UUID
  adm_program/languages/de-DE.xml
  adm_program/languages/de.xml
  adm_program/languages/en.xml
  adm_program/modules/groups-roles/mylist.php
  adm_program/modules/groups-roles/mylist_function.php
  adm_program/modules/members/import_column_config.php
  adm_program/modules/members/import_user.php
  adm_program/system/classes/ListConfiguration.php
  adm_program/system/classes/ProfileFields.php
Labels: enhancement, module:members

#1247 Scan for vulnerabilities in Admidio Docker Images with trivy
  Dockerfile
  hooks/build
Labels: docker

#1250 Fix db update: replace hardcoded prefix by placeholder in DB update script v4.1
  adm_program/installation/db_scripts/update_4_1.xml
Labels: bug, module:update

#1253 Feature breadcrumbs navigation
  adm_program/languages/de.xml
  adm_program/languages/en.xml
  adm_program/modules/announcements/announcements.php
  adm_program/modules/announcements/announcements_new.php
  adm_program/modules/backup/backup.php
  adm_program/modules/categories/categories.php
  adm_program/modules/categories/categories_new.php
  adm_program/modules/category-report/category_report.php
  adm_program/modules/category-report/preferences.php
  adm_program/modules/dates/dates.php
  adm_program/modules/documents-files/documents_files.php
  adm_program/modules/ecards/ecards.php
  adm_program/modules/groups-roles/groups_roles.php
  adm_program/modules/groups-roles/lists_show.php
  adm_program/modules/groups-roles/members_assignment.php
  adm_program/modules/guestbook/guestbook.php
  adm_program/modules/guestbook/guestbook_new.php
  adm_program/modules/links/links.php
  adm_program/modules/members/members.php
  adm_program/modules/menu/menu.php
  adm_program/modules/messages/messages.php
  adm_program/modules/photos/photos.php
  adm_program/modules/preferences/preferences.php
  adm_program/modules/profile/profile.php
  adm_program/modules/profile/profile_new.php
  adm_program/modules/registration/registration.php
  adm_program/overview.php
  adm_program/system/classes/FileUpload.php
  adm_program/system/classes/HtmlPage.php
  adm_program/system/classes/Navigation.php
  adm_program/system/classes/TableFolder.php
  adm_program/system/file_upload.php
  adm_themes/simple/css/admidio.css
  adm_themes/simple/templates/index.tpl
Labels: enhancement, theme
