Repository Admidio/admidio, pull requests merged in 2022-12, with the labels that each got.

#1329 Fix non-unique index name
  adm_program/installation/db_scripts/db.sql
Labels: bug, database

#1313 Extract rendering to smarty
  adm_program/installation/templates/installation.css
  adm_program/installation/templates/sys-template-parts/form.button.tpl
  adm_program/installation/templates/sys-template-parts/form.captcha.tpl
  adm_program/installation/templates/sys-template-parts/form.checkbox.tpl
  adm_program/installation/templates/sys-template-parts/form.customcontent.tpl
  adm_program/installation/templates/sys-template-parts/form.editor.tpl
  adm_program/installation/templates/sys-template-parts/form.file.tpl
  adm_program/installation/templates/sys-template-parts/form.input.simple.tpl
  adm_program/installation/templates/sys-template-parts/form.input.tpl
  adm_program/installation/templates/sys-template-parts/form.multiline.tpl
  adm_program/installation/templates/sys-template-parts/form.radio.tpl
  adm_program/installation/templates/sys-template-parts/parts/form.part.helptext.tpl
  adm_program/installation/templates/sys-template-parts/parts/form.part.icon.tpl
  adm_program/installation/templates/sys-template-parts/parts/form.part.iconhelp.tpl
  adm_program/installation/templates/sys-template-parts/parts/form.part.warning.tpl
  adm_program/system/classes/HtmlElement.php
  adm_program/system/classes/HtmlForm.php
  adm_program/system/classes/HtmlFormBasic.php
  adm_themes/simple/css/admidio.css
  adm_themes/simple/templates/sys-template-parts/form.button.tpl
  adm_themes/simple/templates/sys-template-parts/form.captcha.tpl
  adm_themes/simple/templates/sys-template-parts/form.checkbox.tpl
  adm_themes/simple/templates/sys-template-parts/form.customcontent.tpl
  adm_themes/simple/templates/sys-template-parts/form.editor.tpl
  adm_themes/simple/templates/sys-template-parts/form.file.tpl
  adm_themes/simple/templates/sys-template-parts/form.input.simple.tpl
  adm_themes/simple/templates/sys-template-parts/form.input.tpl
  adm_themes/simple/templates/sys-template-parts/form.multiline.tpl
  adm_themes/simple/templates/sys-template-parts/form.radio.tpl
  adm_themes/simple/templates/sys-template-parts/parts/form.part.helptext.tpl
  adm_themes/simple/templates/sys-template-parts/parts/form.part.icon.tpl
  adm_themes/simple/templates/sys-template-parts/parts/form.part.iconhelp.tpl
  adm_themes/simple/templates/sys-template-parts/parts/form.part.warning.tpl
Labels: enhancement, theme

#1333 Add option to view role members profile
  adm_program/installation/db_scripts/db.sql
  adm_program/installation/db_scripts/update_4_2.xml
  adm_program/languages/bg.xml
  adm_program/languages/da.xml
  adm_program/languages/de-DE.xml
  adm_program/languages/de.xml
  adm_program/languages/el.xml
  adm_program/languages/en.xml
  adm_program/languages/fi.xml
  adm_program/languages/fr.xml
  adm_program/languages/it.xml
  adm_program/languages/nl.xml
  adm_program/languages/pt-BR.xml
  adm_program/languages/pt.xml
  adm_program/languages/sv.xml
  adm_program/languages/uk.xml
  adm_program/modules/dates/dates.php
  adm_program/modules/dates/dates_function.php
  adm_program/modules/dates/dates_new.php
  adm_program/modules/ecards/ecards.php
  adm_program/modules/groups-roles/groups_roles.php
  adm_program/modules/groups-roles/groups_roles_new.php
  adm_program/modules/groups-roles/lists_show.php
  adm_program/modules/groups-roles/mylist.php
  adm_program/modules/messages/messages_write.php
  adm_program/modules/userrelations/userrelations_new.php
  adm_program/system/classes/ListConfiguration.php
  adm_program/system/classes/ModuleLists.php
  adm_program/system/classes/Organization.php
  adm_program/system/classes/TableRoles.php
  adm_program/system/classes/User.php
Labels: enhancement, module:groups&roles
