Repository Admidio/admidio, pull requests merged in 2023-11, with the labels that each got.

#1515 Use smarty within groups roles
  adm_program/libs/server/composer/autoload_classmap.php
  adm_program/libs/server/composer/autoload_static.php
  adm_program/modules/ecards/ecard_preview.php
  adm_program/modules/events/popup_participation.php
  adm_program/modules/groups-roles/groups_roles.php
  adm_program/modules/groups-roles/groups_roles_function.php
  adm_program/modules/groups-roles/members_assignment.php
  adm_program/system/bootstrap/function.php
  adm_program/system/classes/Database.php
  adm_program/system/classes/HtmlDataTables.php
  adm_program/system/classes/HtmlTable.php
  adm_program/system/classes/Message.php
  adm_program/system/classes/ModuleContacts.php
  adm_program/system/classes/ModuleGroupsRoles.php
  adm_program/system/classes/ModuleLists.php
  adm_program/system/classes/ModuleRegistration.php
  adm_program/system/common.php
  adm_program/system/popup_message.php
  adm_themes/simple/templates/modules/groups-roles.cards.tpl
  adm_themes/simple/templates/modules/groups-roles.permissions-list.tpl
  adm_themes/simple/templates/modules/registration.cards.tpl
  adm_themes/simple/templates/sys-template-parts/card.information.button.tpl
Labels: enhancement, module:groups&roles, theme

#1505 update README.md
  README.md
Labels: system, change

#1519 Move files or folders to another folder
  adm_program/languages/en.xml
  adm_program/libs/server/composer/autoload_classmap.php
  adm_program/libs/server/composer/autoload_psr4.php
  adm_program/libs/server/composer/autoload_static.php
  adm_program/modules/documents-files/documents_files.php
  adm_program/modules/documents-files/documents_files_function.php
  adm_program/modules/documents-files/move.php
  adm_program/modules/documents-files/rename.php
  adm_program/system/classes/FileSystemUtils.php
  adm_program/system/classes/ModuleDocumentsFiles.php
  adm_program/system/classes/TableFile.php
  adm_program/system/classes/TableFolder.php
Labels: enhancement, module:documents&files

#1520 Implement Smarty template within documents and files list
  adm_program/modules/documents-files/documents_files.php
  adm_program/modules/documents-files/move.php
  adm_program/system/classes/ModuleDocumentsFiles.php
  adm_program/system/classes/ModuleGroupsRoles.php
  adm_program/system/classes/TableFolder.php
  adm_themes/simple/templates/modules/documents-files.list.tpl
  adm_themes/simple/templates/modules/groups-roles.permissions-list.tpl
Labels: enhancement, module:documents&files
