Repository Admidio/admidio, pull requests merged in 2024-11, with the labels that each got.

#1698 Implement organization module
  adm_plugins/login_form/login_form.php
  adm_plugins/login_form/templates/plugin.login-form.edit.tpl
  adm_program/installation/db_scripts/db.sql
  adm_program/installation/db_scripts/preferences.php
  adm_program/installation/db_scripts/update_5_0.xml
  adm_program/installation/install_steps/create_organization.php
  adm_program/installation/install_steps/start_installation.php
  adm_program/languages/bg.xml
  adm_program/languages/da.xml
  adm_program/languages/de-DE.xml
  adm_program/languages/de.xml
  adm_program/languages/el.xml
  adm_program/languages/en.xml
  adm_program/languages/es.xml
  adm_program/languages/et.xml
  adm_program/languages/fi.xml
  adm_program/languages/fr.xml
  adm_program/languages/hu.xml
  adm_program/languages/id.xml
  adm_program/languages/it.xml
  adm_program/languages/nb.xml
  adm_program/languages/nl.xml
  adm_program/languages/pl.xml
  adm_program/languages/pt-BR.xml
  adm_program/languages/pt.xml
  adm_program/languages/ru.xml
  adm_program/languages/sv.xml
  adm_program/languages/th.xml
  adm_program/languages/uk.xml
  adm_program/languages/zh.xml
  adm_program/modules/documents-files/documents_files_function.php
  adm_program/modules/organizations.php
  adm_program/modules/photos/photo_album_function.php
  adm_program/modules/preferences/preferences.php
  adm_program/modules/profile/profile_new.php
  adm_program/system/classes/Component.php
  adm_program/system/classes/Database.php
  adm_program/system/classes/Email.php
  adm_program/system/classes/HtmlPage.php
  adm_program/system/classes/ModuleLogin.php
  adm_program/system/classes/Organization.php
  adm_program/system/classes/SystemMail.php
  adm_program/system/js/common_functions.js
  adm_themes/simple/templates/modules/groups-roles.permissions-list.tpl
  adm_themes/simple/templates/modules/organizations.edit.tpl
  adm_themes/simple/templates/modules/organizations.new.tpl
  adm_themes/simple/templates/preferences/preferences.organization.tpl
  adm_themes/simple/templates/sys-template-parts/form.checkbox.tpl
  adm_themes/simple/templates/sys-template-parts/system.info-create-edit.tpl
  adm_themes/simple/templates/system/login.tpl
  src/Modules/Organizations.php
  src/Plugins/Overview.php
  src/UserInterface/Organizations.php
  src/UserInterface/Preferences.php
Labels: enhancement, module:organizations

#1699 Reorganize modules code
  adm_plugins/login_form/templates/plugin.login-form.edit.tpl
  adm_program/installation/db_scripts/update_5_0.xml
  adm_program/installation/install_steps/start_installation.php
  adm_program/modules/preferences.php
  adm_program/modules/preferences/index.html
  adm_program/modules/preferences/preferences.php
  adm_program/modules/preferences/update_check.php
  adm_program/modules/profile/profile_new.php
  adm_program/modules/registration.php
  adm_program/modules/registration/index.html
  adm_program/modules/registration/registration.php
  adm_program/modules/registration/registration_function.php
  adm_program/system/classes/ComponentUpdateSteps.php
  adm_program/system/classes/MenuNode.php
  adm_program/system/classes/ModuleContacts.php
  adm_program/system/classes/UserRegistration.php
  adm_themes/simple/templates/index.tpl
  adm_themes/simple/templates/modules/profile.edit.tpl
  adm_themes/simple/templates/system/login.tpl
  composer.json
  composer.lock
  src/Modules/Preferences.php
  src/UserInterface/Form.php
  src/UserInterface/Preferences.php
  src/UserInterface/Registration.php
Labels: module:registration, module:preferences, module:organizations, change

#1711 Repair build after structure changes
  .codeclimate.yml
  .php-cs-fixer.dist.php
  Dockerfile
  README-Docker.md
  README.md
  adm_program/languages/bg.xml
  adm_program/languages/da.xml
  adm_program/languages/de-DE.xml
  adm_program/languages/de.xml
  adm_program/languages/el.xml
  adm_program/languages/en.xml
  adm_program/languages/es.xml
  adm_program/languages/et.xml
  adm_program/languages/fi.xml
  adm_program/languages/fr.xml
  adm_program/languages/hu.xml
  adm_program/languages/it.xml
  adm_program/languages/nl.xml
  adm_program/languages/pl.xml
  adm_program/languages/pt-BR.xml
  adm_program/languages/pt.xml
  adm_program/languages/ru.xml
  adm_program/languages/sv.xml
  adm_program/languages/th.xml
  adm_program/languages/uk.xml
  composer.json
  dockerscripts/startup.sh
Labels: docker
