Repository Admidio/admidio, pull requests merged in 2024-10, with the labels that each got.

#1688 Fix typo in translation
  adm_program/languages/de.xml
Labels: bug, translation

#1696 Use bootstrap modal for message box
  adm_program/modules/announcements/announcements.php
  adm_program/modules/categories/categories.php
  adm_program/modules/contacts/contacts_data.php
  adm_program/modules/contacts/contacts_function.php
  adm_program/modules/events/events.php
  adm_program/modules/guestbook/get_comments.php
  adm_program/modules/guestbook/guestbook.php
  adm_program/modules/links/links.php
  adm_program/modules/menu/menu.php
  adm_program/modules/messages/messages_data.php
  adm_program/modules/photos/photos.php
  adm_program/modules/profile-fields/profile_fields.php
  adm_program/modules/profile/profile.php
  adm_program/modules/profile/roles_functions.php
  adm_program/modules/rooms/rooms.php
  adm_program/modules/userrelations/relationtypes.php
  adm_program/system/classes/Message.php
  adm_program/system/classes/ModuleDocumentsFiles.php
  adm_program/system/classes/ModuleGroupsRoles.php
  adm_program/system/classes/ModuleRegistration.php
  adm_program/system/classes/User.php
  adm_program/system/popup_message.php
  adm_themes/simple/templates/index.tpl
  adm_themes/simple/templates/modules/documents-files.list.tpl
  adm_themes/simple/templates/modules/groups-roles.permissions-list.tpl
  adm_themes/simple/templates/modules/profile.view.tpl
  adm_themes/simple/templates/sys-template-parts/card.information.button.tpl
  adm_themes/simple/templates/system/messagebox.tpl
Labels: enhancement, system

#1697 New default profile photos for male and female
  adm_program/modules/profile/profile_photo_show.php
  adm_program/system/classes/ListConfiguration.php
  adm_themes/simple/css/admidio.css
  adm_themes/simple/images/no_profile_pic.png
  adm_themes/simple/images/profile-photo-female.png
  adm_themes/simple/images/profile-photo-male.png
Labels: enhancement, module:profile
