Repository Admidio/admidio, pull requests merged in 2025-01, with the labels that each got.

#1730 Implement caching of profile photo
  adm_program/modules/profile/profile.php
  adm_program/modules/profile/profile_photo_edit.php
  adm_program/modules/profile/profile_photo_show.php
  themes/simple/templates/index.tpl
Labels: enhancement, module:profile

#1731 Various smaller fixes for the v4.3 branch
  adm_program/installation/db_scripts/update_4_3.xml
  adm_program/installation/install_steps/start_installation.php
  adm_program/installation/installation.php
  adm_program/languages/de-DE.xml
  adm_program/languages/de.xml
  adm_program/modules/links/links_function.php
  adm_program/modules/profile-fields/profile_fields_new.php
  adm_program/system/classes/ChangeNotification.php
  adm_program/system/classes/ModuleGroupsRoles.php
  adm_program/system/classes/ProfileFields.php
  adm_program/system/classes/TableAccess.php
  adm_program/system/classes/TableEvent.php
  adm_program/system/classes/TableUserRelationType.php
  adm_program/system/classes/User.php
Labels: bug, system

#1736 Fix HtmlDataTable instance naming to avoid conflicts when adding multiple table instances on one page
  adm_program/system/classes/HtmlDataTables.php
Labels: bug, system

#1740 fix: debug and import mode globals not defined
  src/UI/View/Preferences.php
Labels: bug, module:preferences

#1744 fix: datetime filed didnt show up as disabled
  adm_program/system/classes/HtmlForm.php
Labels: bug, system

#1743 fix: '-' in Html(Data)Table Ids prevent using modal windows
  adm_program/system/classes/HtmlDataTables.php
  adm_program/system/classes/ModuleDocumentsFiles.php
  adm_program/system/classes/ModuleGroupsRoles.php
Labels: bug, system
