Repository Admidio/admidio, pull requests merged in 2025-05, with the labels that each got.

#1789 tabbed profile view and global hyphenation support
  install/templates/index.tpl
  languages/de-DE.xml
  languages/de.xml
  languages/en.xml
  modules/profile/profile.js
  modules/profile/profile.php
  modules/profile/profile_function.php
  themes/simple/css/admidio.css
  themes/simple/templates/index.reduced.tpl
  themes/simple/templates/index.tpl
  themes/simple/templates/modules/profile.view.basic-informations.tpl
  themes/simple/templates/modules/profile.view.categories.tpl
  themes/simple/templates/modules/profile.view.other-org-memberships.tpl
  themes/simple/templates/modules/profile.view.permissions.tpl
  themes/simple/templates/modules/profile.view.relations.tpl
  themes/simple/templates/modules/profile.view.tpl
Labels: module:profile, change, theme, translation

#1791 Change getDiskSpace in FileSystemUtils.php to return Integers...
  src/Infrastructure/Utils/FileSystemUtils.php
Labels: bug, module:preferences

#1792 Update docker scripts to new program structure (#1788)
  Dockerfile
  dockerscripts/startup.sh
Labels: docker

#1800 feat: Add showing duration of role in profile
  languages/de.xml
  languages/en.xml
  modules/groups-roles/mylist.php
  modules/profile/roles_functions.php
  src/Roles/Entity/ListConfiguration.php
  src/Roles/Entity/Membership.php
  system/classes/CategoryReport.php
  themes/simple/templates/modules/profile.roles-list.row.tpl
Labels: enhancement, module:profile

#1803 Category Report: Make column definitions movable / deletable
  modules/category-report/preferences.php
  modules/category-report/preferences_function.php
  themes/simple/templates/modules/category-report.config.tpl
Labels: enhancement, module:category_report

#1804 Profile view fixes
  demo_data/data.sql
  install/db_scripts/preferences.php
  languages/de-DE.xml
  languages/de.xml
  languages/en.xml
  modules/profile/profile.php
  src/UI/Presenter/PreferencesPresenter.php
  themes/simple/templates/modules/profile.view.basic-informations.tpl
  themes/simple/templates/modules/profile.view.tpl
  themes/simple/templates/preferences/preferences.profile.tpl
Labels: bug, module:profile, module:preferences, change

#1806 fix: revert wrong placed file/foldernames
  modules/category-report/category_report.php
  modules/contacts/contacts_function.php
  modules/events/events_function.php
  modules/events/events_new.php
  modules/groups-roles/lists_show.php
  modules/messages/messages_send.php
  modules/messages/messages_write.php
  modules/photos/ecard_send.php
  modules/profile/profile_function.php
  modules/profile/profile_new.php
  src/UI/Presenter/GroupsRolesPresenter.php
Labels: bug, system
