Repository Admidio/admidio, pull requests merged in 2025-03, with the labels that each got.

#1763 New code structure documents files
  adm_plugins/latest-documents-files/templates/plugin.latest-documents-files.tpl
  adm_program/modules/documents-files.php
  adm_program/modules/documents-files/documents_files.php
  adm_program/modules/documents-files/documents_files_function.php
  adm_program/modules/documents-files/folder_new.php
  adm_program/modules/documents-files/folder_permissions.php
  adm_program/modules/documents-files/get_file.php
  adm_program/modules/documents-files/index.html
  adm_program/modules/documents-files/move.php
  adm_program/modules/documents-files/rename.php
  adm_program/system/classes/ModuleDocumentsFiles.php
  install/db_scripts/update_5_0.xml
  install/install_steps/start_installation.php
  src/Changelog/Service/ChangelogService.php
  src/Documents/Entity/File.php
  src/Documents/Service/DocumentsService.php
  src/UI/Presenter/DocumentsPresenter.php
  themes/simple/css/admidio.css
  themes/simple/templates/modules/categories.list.tpl
  themes/simple/templates/modules/documents-files.folder.new.tpl
  themes/simple/templates/modules/documents-files.list.tpl
  themes/simple/templates/modules/documents-files.move.tpl
  themes/simple/templates/modules/documents-files.rename.tpl
  themes/simple/templates/modules/forum.cards.tpl
  themes/simple/templates/modules/forum.list.tpl
  themes/simple/templates/modules/menu.list.tpl
  themes/simple/templates/modules/profile-fields.list.tpl
  themes/simple/templates/sys-template-parts/list.functions.tpl
Labels: enhancement, module:documents&files

#1764 Overview plugins html
  adm_plugins/announcement-list/announcement-list.php
  adm_plugins/birthday/birthday.php
  adm_plugins/calendar/calendar.php
  adm_plugins/calendar/templates/plugin.calendar.tpl
  adm_plugins/event-list/event-list.php
  adm_plugins/latest-documents-files/latest-documents-files.php
  adm_plugins/login_form/login_form.php
  adm_plugins/random_photo/random_photo.php
  adm_plugins/who-is-online/who-is-online.php
  adm_program/system/classes/HtmlPage.php
  src/Infrastructure/Plugins/Overview.php
  src/Infrastructure/Plugins/Smarty.php
  src/UI/Presenter/PagePresenter.php
  themes/simple/css/admidio.css
  themes/simple/templates/index.reduced.tpl
Labels: enhancement, plugin

#1726 2 Factor Authentication
  adm_plugins/login_form/login_form.php
  adm_plugins/login_form/templates/plugin.login-form.edit.tpl
  adm_program/languages/de-DE.xml
  adm_program/languages/de.xml
  adm_program/languages/en.xml
  adm_program/modules/profile/profile.php
  adm_program/modules/profile/two_factor_authentication.php
  adm_program/system/classes/ModuleLogin.php
  composer.json
  composer.lock
  demo_data/data.sql
  install/db_scripts/db.sql
  install/db_scripts/preferences.php
  install/db_scripts/update_5_0.xml
  src/UI/Presenter/PreferencesPresenter.php
  src/Users/Entity/User.php
  themes/simple/templates/modules/profile.two-factor-authentication.reset.tpl
  themes/simple/templates/modules/profile.two-factor-authentication.setup.tpl
  themes/simple/templates/preferences/preferences.security.tpl
  themes/simple/templates/system/login.tpl
Labels: enhancement, system, security

#1772 Single-Sign-On (SAML 2.0): First working version of the SAML 2.0 id Provider.
  adm_program/languages/en.xml
  adm_program/modules/sso/clients.php
  adm_program/modules/sso/fetch_metadata.php
  adm_program/modules/sso/index.php
  adm_program/modules/sso/keys.php
  adm_program/system/bootstrap/constants.php
  composer.json
  install/db_scripts/db.sql
  install/db_scripts/preferences.php
  install/db_scripts/update_5_0.xml
  install/install_steps/start_installation.php
  src/Changelog/Service/ChangelogService.php
  src/SSO/Entity/Key.php
  src/SSO/Entity/SAMLClient.php
  src/SSO/Service/KeyService.php
  src/SSO/Service/SAMLService.php
  src/UI/Presenter/PreferencesPresenter.php
  src/UI/Presenter/SSOClientPresenter.php
  src/UI/Presenter/SSOKeyPresenter.php
  themes/simple/templates/modules/saml_client.edit.tpl
  themes/simple/templates/modules/sso_key.edit.tpl
  themes/simple/templates/modules/sso_key.password.tpl
  themes/simple/templates/preferences/preferences.sso.tpl
Labels: enhancement, system

#1780 Install and run cron service in docker container for php session files cleanup (#1767)
  Dockerfile
  README-Docker.md
  dockerscripts/startup.sh
  hooks/build
Labels: docker
